@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      -webkit-tap-highlight-color: transparent;
      scroll-behavior: smooth;
    }
    ::-ms-reveal {
      filter: invert(100%);
    }
    
  }
  
  @layer utilities {
    ::-webkit-scrollbar {
      width: 20px;
    }
    
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #666b7a;
      border-radius: 20px;
      height:10%;
      border: 6px solid transparent;
      background-clip: content-box;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: #777c8c;
    }
  }